<!DOCTYPE html>
<html lang="en-GB">
<head>
	<title>Bosgaurus Coffee</title>
	<meta charset="utf-8"/>
	{{ 'index.css' | asset_url | stylesheet_tag }}
	{{ 'collection.css' | asset_url | stylesheet_tag }}
	{{ 'filter.css' | asset_url | stylesheet_tag }}
	<link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}">
</head>
<body class="stores stores-show responsive">
	{{ content_for_header }}
	{{ content_for_layout }}
  
	{{ 'index.js' | asset_url | script_tag }}
	{{ 'config.js' | asset_url | script_tag }}
	{{ 'vendor.js' | asset_url | script_tag }}
	{{ 'application1.js' | asset_url | script_tag }}
	{{ 'application2.js' | asset_url | script_tag }}
	{{ 'custom.js' | asset_url | script_tag }}
</body>
</html>